@media screen and (max-width:400px){
    
}
@media screen and (max-width:600px){
    #cool-block{
        width: 95%;
        height: 100px;
        margin: 10px;
        background-color: transparent;
        perspective: 1000px;
        /* border: 1px solid black; */
        display:inline-flex;
        /* vertical-align: top; */
        /* overflow:visible; */
        /* word-wrap:normal; */
    }
    .div-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition:transform 0.8s;
        transform-style:preserve-3d;
    }
    
    #cool-block:hover .div-inner{
        transform: rotateY(180deg);
    }
    .div-1 .div-2 .div-3 .div-4 .div-5 .div-6{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        
    }
    .div-back{
        position:absolute;
        /* margin: 5px; */
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-1{
        background-color: red;
        /* width: 16.66px; */
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-2{
        background-color: orange;
        /* width: 100px; */
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-3{
        background-color: yellow;
        /* width: 100px; */
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-4{
        background-color: green;
        /* width: 100px; */
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-5{
        background-color: blue;
        /* width: 100px; */
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-6{
        background-color: purple;
        /* width: 100px; */
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-back{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 3em;
        /* width: 100px; */
        height: 100%;
        /* overflow: hidden; */
        transform:rotateY(180deg);
        /* position: top; */
        /* z-index: 1; */
        /* vertical-align:baseline; */
    }
}

@media  screen and (min-width:601px) {
    #cool-block{
        width: 600px;
        height: 100px;
        background-color: transparent;
        perspective: 1000px;
        /* border: 1px solid black; */
        display:inline-flex;
        /* word-wrap:normal; */
    }
    .div-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition:transform 0.8s;
        transform-style:preserve-3d;
    }
    
    #cool-block:hover .div-inner{
        transform: rotateY(180deg);
    }
    .div-1 .div-2 .div-3 .div-4 .div-5 .div-6{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        
    }
    .div-back{
        position:absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-1{
        background-color: red;
        width: 100px;
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-2{
        background-color: orange;
        width: 100px;
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-3{
        background-color: yellow;
        width: 100px;
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-4{
        background-color: green;
        width: 100px;
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-5{
        background-color: blue;
        width: 100px;
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-6{
        background-color: purple;
        width: 100px;
        height: 100%;
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 1px 1px black;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .div-back{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 3em;
        width: 100px;
        height: 100%;
        /* overflow: hidden; */
        transform:rotateY(180deg);
        /* position: top; */
    }
}