.content-tegels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    
}
div.content-tegels > *{
    font-size: 2em;
    background-color: rgb(13, 231, 31);
    margin: 15px;
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px black;
    text-decoration: none;
    color: black;
    font-size: 1em;
    
}
.content-tegels a:hover{
    box-shadow: -2px -2px black;
    border: 1px solid black;
    border-radius: 15px;
    background-color: yellow;
}
.intro-content{
    font-size: 1.3em;
    padding: 5%;
    line-height: 1.5em;
}
.box-tegels > p{
    vertical-align: middle;
}
